@font-face {
    font-family: snk_font;
    src: url("../font/snk_font.TTF");
};


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* Centra la imagen */
    background-attachment: fixed; /* Fija la imagen al fondo */
}

/*CONTENEDOR PADRE  "flex-container"*/
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh; /* Usa vh para ocupar el 100% de la altura de la ventana */
    padding: 0;
}

.subcontenedor{
    font-family: snk_font;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px 20px 10px 10px;
}
td{
    border-radius: 10%;
    text-align: center;
}
td img{
    border-radius: 12%;
    padding: 2.5px;
    margin-bottom: -6%;
    background-size: cover;
}

tr{
    border: black 20px solid;
}

.subcontenedor{
    display: flex;
    flex-direction: column;
}

button.titulo img:hover{
    transform: scale(1.1); 
}

/*MENÚ MODOS*/
.menuModos button{
    border: none;
    background-color: transparent;
}.menuModos img:hover{
    transform: scale(1.1); 
}
/*----------*/

/*BOTÓN BÚSQUEDA*/
.botonBusqueda{
    background-color: rgb(109, 6, 0);
    border-radius: 8px;
    padding: 10px;
}.botonInput{
    font-family: snk_font;
    border-radius: 8px;
    border: solid 2px black;
    text-align: center;
    font-size: 20px;
    padding: 8px;
}.botonBuscar{
    border-radius: 8px;
    font-size: 20px;
}.botonBuscar:hover{
    background-color: rgb(216, 216, 216);
    transform: scale(1.1); 
}
/*--------------*/